body {
  background-color: #ccc;
}

.carta{
  width: 60%;
  height: 45%;
  z-index: 15;
  text-align: center;
  font-style: italic;
  position: absolute;
  top: 5%;
  left: 19.5%;
  background-color: white;
  padding: 4%;
  border-radius: 14px;
  outline: 5px solid black;
  outline-offset: 18px;
  font-size: 180%;
}

.sobre {
  background-color: #888;
  width: 68.5%;
  height: 50%;
  position: absolute;
  top: 5.1%;
  left: 19.5%;
  z-index: 20;
  transition-property: background;
  transition-duration: 2s;
  border-radius: 14px;
}

.sobre:hover {
  background: radial-gradient(transparent, transparent, #777);
}


